/* overwrite styles from displacy -- */
.entities {
    line-height: 1.4 !important;
    /* direction: ltr !important; */
    /* letter-spacing: .25px !important; */
    /* font-size: 1em !important; */
    /* margin-bottom: 20px !important; */
}

.entity {
    padding: 0em 0.25em !important;
    margin: 0 0.2em 0 0 !important;
    /* line-height: 1.4 !important; */
}
.entity span {
    font-size: 0.55em !important;
    margin-left: 0rem !important;
    /* display: inline-flex !important;
    vertical-align: middle !important;
    align-items: center; */
}
