{% extends 'base.html' %}


{% block head %}
    <title>User Overview</title>
{% endblock %}


{% block body %}


{% if not users %}
    <h1 class="dispaly-3 text-center mt-4">No Users Yet</h1>
{% else %}
    <h1 class="dispaly-3 text-center mt-4">User Overview</h1>
    <!-- User Overview Table  -->
    <div class="container">
        <div class="col box-shadow">
            <table class="table table-hover table-responsive-sm">
                <!-- User Overview Headers  -->
                <thead>
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Date Created</th>
                    <th scope="col" class="text-center">Role</th>
                    <th scope="col" class="text-center">View Posts</th>
                    <th scope="col" class="text-center">Delete</th>
                </tr>
                </thead>
                <!-- Users  -->
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username | capitalize }}</td>
                        <td>{{ user.created.strftime('%Y %h %d') }}</td>
                        <td class="text-center">
                            {% if user.role == "user" %}
                                <span class="badge rounded-pill bg-success p-2">User</span>
                            {% else %}
                                <span class="badge rounded-pill bg-danger p-2">Admin</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <!-- View Posts  -->
                            <button type="button" class="edit btn btn-primary" onClick='location.href= &quot;{{ url_for("admin.view_user", id=user.id) }} &quot;'> <i class="fa-solid fa-eye"></i> </button>
                        </td>
                        <td class="text-center">
                            <!-- Delete User  -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ user.id }}"><i class="fa-solid fa-trash"></i></button>
                        </td>
                   </tr>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="delete-modal-{{ user.id }}" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-title">Delete User?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this user?<br>
                                    This action cannot be reverted!</p>
                                </div>
                                <div class="modal-footer">
                                    <form style="display: inline;" action="{{ url_for('admin.delete_user', id=user.id) }}" method="POST">                                        
                                        <!-- Cancel -->
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                                        <!-- Delete -->
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>       
                    <!-- End Delete Modal -->
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% endblock %}